div, ul, li {
    display: flex;
}

body{
    background: #f4f3f4;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.emailClient{
    flex-direction: column;
}

.header {
    display: flex;
    padding: 0px 80px;
}

.filterLabel {
    align-items: center;
}

.filters {
    display: flex;
    list-style-type: none;
    padding-left: 20px;
}

.filterButton {
    display: inline-block;
    width: 80px;
    height: 30px;
    border: none;
    background: transparent;
    font-size: 16px;
}

.filterActive {
    border: 1px solid #CFD2CF;
    border-radius: 16px;
    background: #E1E4EA;
}

.main{
    display: flex;
    padding: 0 80px; 
    height: 700px;
}

.emailList {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* width: 350px; */
    list-style-type: none;
    margin: 16px 8px;
    padding: 0;
}

.emailBody {
    /* display: none; */
    flex-grow: 2;
    margin: 16px 8px;
    border: 1px solid #CFD2CF;
    background: white;
}

.emailContent {
    flex-direction: column;
    flex-grow: 1;
    color: #636363;
    padding: 5px;
    width: min-content;
}

.emailContentItem{
    margin: 1px 0;
    /* width: 100%; */
    /* box-sizing: border-box; */
}

.emailContentBody{
    flex-grow: 1;
    margin: 10px 0;
    max-width: inherit;
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
}

.emailItem {
    border: 1px solid #CFD2CF;
    border-radius: 10px;
    background: #f2f2f2;
    height: 110px;
}

.avatarContainer{
    justify-content: center;
    width: 100px;
}

.avatar {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1px solid;
    justify-content: center;
    align-items: center;
    margin: 25px;
    background: #E54065;
    color: white;
}

.itemStrong{
    margin: 0 10px;
}

.emailBodyContent{
    flex-direction: column;
    flex-grow: 1;
    width: min-content;
    color: 636363
}

.emailBodySubject{
    font-size: 26px;
    font-weight: 800;
    margin: 30px 0;
}

.emailBodyText{
    margin: 20px 80px 20px 0;
    overflow: scroll;
}